<form data-bulan method="post" action="/gantiBulan" class="seca">
  <input name="bulan" type="month" value=<%= month %>  >
  <!-- <button>submit</button> -->
</form>

<h3 data-total-belanja class="totalbelanja"> <%= totalThisMonth  %> </h3>

<ul data-secb class="secb collapsible popout">
  <% data.forEach(e => { %>
    <li id=<%= e._id %> >
      <div class="collapsible-header">
        <ul class="collection">
          <li class="collection-item avatar" >
            <i class="circle <%= color(e.pembayaran)[0]  %>"><%= color(e.pembayaran)[1]  %> </i>
            <span data-secb-value class="title"><%= e.pembayaran %></span>
            <p data-secb-value><%= e.harga %></p>
            <p data-secb-value><%= e.deskripsi %></p>
            <a data-secb-value class="secondary-content"><%= e.tanggal %></a>
          </li>
        </ul>
      </div>
      <div data-secb-button class="collapsible-body">
        <a class="waves-effect waves-light btn">Edit</a>
        <a class="waves-effect waves-light btn red">Delete</a>
      </div>
    </li>
  <% }) %>
</ul>

<div data-floatbtn class="secc fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red" name='cimb'>C</a></li>
    <li><a class="btn-floating yellow darken-1" name='mega'>M</a></li>
    <li><a class="btn-floating green" name='gopay'>G</a></li>
    <li><a class="btn-floating green" name="gopaylatter">GL</a></li>
    <li><a class="btn-floating blue" name="debit">D</a></li>
  </ul>
</div>

<!-- Modal Trigger -->
<!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->

<!-- Modal Add data -->
<div data-modal id="modal1" class="secd modal">
  <div class="modal-content">
    <form class="col s12" method="post" action="/send">
      <!-- datae picker -->
      <div class="input-field col s12">
        <p>Tanggal Transaksi</p>
        <input name="tanggal" type="text" id="tanggaltansaksi" class="datepicker" value=<%= fulldate %>>
        <!-- <input id="last_name" type="text" class="validate"> -->
        <!-- <label for="tanggaltansaksi">Tanggal Transaksi</label> -->
      </div>
      <!-- form selet -->
      <div class="input-field col s12">
        <select name="pembayaran">
          <!-- <option value="" disabled selected>payment method</option> -->
          <option value="cimb">cimb</option>
          <option value="mega">mega</option>
          <option value="gopay">gopay</option>
          <option value="gopaylatter">gopaylatter</option>
          <option value="debit">debit</option>
        </select>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="deskripsi" id="deskripsi" type="text" class="validate">
          <label for="deskripsi">Deskripsi</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="harga" id="harga" type="text" class="validate">
          <label for="harga">Harga</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit">Submit
        <i class="material-icons right">send</i>
      </button>
      <a class="waves-effect modal-close red btn">Cancel</a>
    </form>
  </div>
</div>

