<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- materialize.css-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--my CSS -->
    <link rel="stylesheet" type="text/css" href="css/<%= cssfile %>.css">
    <link rel="stylesheet" type="text/css" href="css/loadingPage.css">

    <title><%= title %>  </title>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/ce27987ac1.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include ('loadingPage.ejs') %> 
    
    <%- body %> 

    <!-- materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js" integrity="sha512-m2PhLxj2N91eYrIGU2cmIu2d0SkaE4A14bCjVb9zykvp6WtsdriFCiXQ/8Hdj0kssUB/Nz0dMBcoLsJkSCto0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- materialize init -->
    <script type="text/javascript" src="js/materialize-init.js?114"></script>
    <!-- user js -->
    <script type="module" src="js/<%= jsfile %>.js?114"></script>

  </body>
</html>