<!-- modal for pemasukan -->
<div id="modal2" class="modal" style="width: min(100%,900px);">
  <div class="modal-content">
    <!-- total pemasukan -->
    <% let totalKredit=0 %> 
    <% kredit.forEach(e => { %>
      <% totalKredit+=Number(e.harga) %> 
      <% }) %>
    <!-- / total pemasukan -->
    <h4 class="center-align judul">Total Pemasukan</h3>
    <h5 data-total-belanja="all" class="center-align judul2"><%= "Rp. "+new Intl.NumberFormat().format(totalKredit) %></h5>

    <ul data-secb class="secb collapsible popout">
      <% kredit.forEach(e => { %>
        <li id=<%= e._id %> >
          <div class="collapsible-header">
            <ul class="collection">
              <li class="collection-item avatar" >
                <i class="circle cyan">K </i>
                <span data-secb-value class="title"><%= e.pembayaran %></span>
                <p data-secb-value><%= "Rp. "+new Intl.NumberFormat().format(e.harga) %></p>
                <p data-secb-value><%= e.deskripsi %></p>
                <p data-secb-value>
                  <%= e.tanggal %>
                </p>
                <span data-secb-value>
                  <%= e.user %> 
                </span>
                <a class="secondary-content">

                </a>
              </li>
            </ul>
          </div>
          <div data-secb-button class="collapsible-body">
            <a class="waves-effect waves-light btn">Edit</a>
            <a class="waves-effect waves-light btn red">Delete</a>
          </div>
        </li>
      <% }) %>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>


<!-- modal for summary -->
<div id="modal3" class="modal">
  <div class="modal-content">
    <ul class="collection">
      <li class="collection-item">
        <h5 class="">Pemasukan</h5>
        <h6 class=""><%= "Rp. "+new Intl.NumberFormat().format(totalKredit) %></h6>
      </li>
      <% let reysa = 2000000-totalReysa %> 
      <li class="collection-item">
        <h5 class="">Bulanan Reysa</h5>
        <h6 class=""><%= "Rp. "+new Intl.NumberFormat().format(reysa) %></h6>
      </li>
      <li class="collection-item">
        <h5 class="">Sisa</h5>
        <h6 class=""><%= "Rp. "+new Intl.NumberFormat().format(totalKredit-totalThisMonth-reysa) %></h6>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>