<!-- modal for pemasukan -->
<div id="modal2" class="modal" style="width: min(100%,900px);">
  <div class="modal-content">
    <!-- total pemasukan -->
    <% let totalKredit=0 %> 
    <% kredit.forEach(e => { %>
      <% totalKredit+=Number(e.harga) %> 
      <% }) %>
    <!-- / total pemasukan -->
    <h4 class="center-align judul">Total Pemasukan</h3>
    <h5 data-total-belanja="all" class="center-align judul2"><%= "Rp. "+new Intl.NumberFormat().format(totalKredit) %></h5>

    <ul data-secb class="secb collapsible popout">
      <% kredit.forEach(e => { %>
        <li id=<%= e._id %> >
          <div class="collapsible-header">
            <ul class="collection">
              <li class="collection-item avatar" >
                <i class="circle cyan">K </i>
                <span data-secb-value class="title"><%= e.pembayaran %></span>
                <p data-secb-value><%= "Rp. "+new Intl.NumberFormat().format(e.harga) %></p>
                <p data-secb-value><%= e.deskripsi %></p>
                <p data-secb-value>
                  <%= e.tanggal %>
                </p>
                <span data-secb-value>
                  <%= e.user %> 
                </span>
                <a class="secondary-content">

                </a>
              </li>
            </ul>
          </div>
          <div data-secb-button class="collapsible-body">
            <a class="waves-effect waves-light btn">Edit</a>
            <a class="waves-effect waves-light btn yellow">Duplicate</a>
            <a class="waves-effect waves-light btn red">Delete</a>
          </div>
        </li>
      <% }) %>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>


<!-- modal for summary -->
<div id="modal3" class="modal modal_summary">
  <div class="modal-content">
    <ul class="collection">
      <li class="collection-item">
        <h5 class="">Pemasukan</h5>
        <h6 class=""><%= "Rp. "+new Intl.NumberFormat().format(totalKredit) %></h6>
      </li>
      <% let reysa = 2000000-totalReysa %> 
      <li class="collection-item">
        <h5 class="">Bulanan Reysa</h5>
        <h6 class=""><%= "Rp. "+new Intl.NumberFormat().format(reysa) %></h6>
      </li>
      <li class="collection-item">
        <% if(reysa<0) reysa=0 %>
        <h5 class="">Sisa</h5>
        <h6 class=""><%= "Rp. "+new Intl.NumberFormat().format(totalKredit-totalThisMonth-reysa) %></h6>
      </li>
    </ul>

    <!-- input data for calculation -->
    <h4 class="calculation">Calculation</h4>
    <div class="row">
      <form data-calculation class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="cimbyoga"  name="cimbyoga" type="number" class="validate" value=0 >
            <label for="cimbyoga">cimb yoga</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="cimbreysa" type="number" name="cimbreysa" class="validate" value=0 >
            <label for="cimbreysa">cimb reysa</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="spp" name="spp" type="number" class="validate" value=0>
            <label for="spp">spp+les+ngaji</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="saldomandiri" id="saldomandiri" type="number" class="validate" value=0>
            <label for="saldomandiri">Saldo Mandiri</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="lain2" id="lain2" type="number" class="validate" value=0>
            <label for="lain2">Tagihan CIMB lain</label>
          </div>
          <div class="input-field col s12">
            <input name="angsuran" id="angsuran" type="number" class="validate" value=0>
            <label for="angsuran">Angsuran lain2</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light calculation" type="submit">Hitung</button>
      </form>

      <!-- result view -->
      <ul data-result class="collection">
        <li class="collection-item">
          <h5 class="">Total Data Cimb</h5>
          <h6 data-totaldatacimb class=""><%= "Rp. "+new Intl.NumberFormat().format(totalCimb) %></h6>
        </li>
        <li class="collection-item">
          <h5 class="">Total Data Cimb + Cimb lain2</h5>
          <h6 data-totaldatacimb2 class=""></h6>
        </li>
        <li class="collection-item">
          <h5 class="">Total Tagihan Cimb</h5>
          <h6 data-totaltagihancimb class=""></h6>
        </li>
        <li class="collection-item">
          <h5 class="">Total Data Gopaylatter</h5>
          <h6 class=""><%= "Rp. "+new Intl.NumberFormat().format(totalGopayLatter) %></h6>
        </li>
        <li class="collection-item">
          <h5 class="">TF to CIMB Reysa</h5>
          <h6 data-tftocimb class=""></h6>
        </li>
        <li class="collection-item">
          <h5 class="">SISA</h5>
          <h6 data-sisa class="sisa"></h6>
        </li>
      </ul>
    </div>
  </div>

  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<script>
  let form = document.querySelector('form[data-calculation]');
  let inputsCal = form.querySelectorAll('input'); 
  
  function numberFormat(data){
    let format = new Intl.NumberFormat().format(data)
    return format
  }

  function selector(target){
    let el = document.querySelector(`ul[data-result] li h6[data-${target}]`)
    return el
  }

  form.onsubmit = (e)=>{
    e.preventDefault();

    let datasForm = {
      reysa: Number('<%= reysa %>'),
      totalCimb: Number('<%= totalCimb %>'),
      totalGopayLatter: Number('<%= totalGopayLatter %>'),
    };

    inputsCal.forEach(el => {
      datasForm[el.name] = Number(el.value)
    });

    // result
    selector('totaldatacimb2').innerHTML = `Rp. ${numberFormat(datasForm.totalCimb + datasForm.lain2)}`;
    
    selector('totaltagihancimb').innerHTML = `Rp. ${numberFormat(datasForm.cimbyoga+datasForm.cimbreysa)}`;

    let totalTfToCimb = datasForm.cimbyoga+datasForm.cimbreysa+datasForm.spp+datasForm.reysa; 
    selector('tfToCimb').innerHTML =
    `${datasForm.cimbyoga}+${datasForm.cimbreysa}+${datasForm.spp}+${datasForm.reysa} = <br>
    Rp. ${numberFormat(totalTfToCimb)}`;

    selector('sisa').innerHTML = 
    `Rp. ${numberFormat(
      datasForm.saldomandiri+
      datasForm.lain2-
      datasForm.totalGopayLatter-
      datasForm.angsuran-
      totalTfToCimb
      )}`
  }
</script>